.top-bar {

	.name > a {
	    width: 50px;
	    height: 38px;
	    background-image: url(http://placehold.it/50x38);
	    display: inline-block;
	    text-indent: 100%;
	    overflow: hidden;
	    white-space: nowrap;
	}
	
}